<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if room.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', room, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if room.persisted? %>
      <%= link_to "Cancel", room, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", rooms_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
